body {
    background-color: #f9fafb;
}


.inputFormLabel {
    margin: 10px 0;
    padding: 0;

}
.inputFormText {
    display: inline-block;
    min-width: 100px;
    vertical-align: center;

}
.inputFormInput {
    display: inline-block;
    margin-left: 8px;
    vertical-align: center;
}

input {
    padding: 8px;
}

.warning{
    color: red;
}

.inputForm{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

table {
    border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}

table td {
    padding: 15px;
}

table thead th {
    background-color: #54585d;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #54585d;
}

table tbody td {
    color: #636363;
    border: 1px solid #dddfe1;
}

table tbody tr {
    background-color: #f9fafb;
}

table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

th, td {
    padding: 8px;
    min-width: 80px;
}

.editButton, .getButton, .updateButton, .deleteButton {
    /*font-size: 90%;*/
    font-size: 12px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    display: inline-block;
    font-family: Tahoma, Geneva, sans-serif;
    color: black;
}

.editButton{

    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;

    /*cursor: pointer;*/
}

.deleteButton, .getButton, .updateButton {
    padding: 8px 20px;
}

.getButton {
    background-color: yellow;
}

.updateButton {
    background-color: #4b6aff;
    color: white;
}

.deleteButton {
    background-color: red;
}

.errorMessage {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: xx-large;
}

.number {
    text-align: right;
}

